.box1 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 80px;
    background-color: lightcoral;
    border: 1px solid black;
    width: 200px; 
    height: 150px; 
    color: white;
    box-sizing: content-box; 
}

.box2 {
    margin: 20px;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid black;
    width: 200px; 
    height: 150px; 
    color: black;
    box-sizing: border-box; 
}
